body{
background-color:black;

}
.box1{
height:500px;
width:1000px;
border:2px solid white;
margin-left:440px;
}

.box2{
height:600px;
width:1000px;
border:2px solid white;
margin-left:440px;
}
.box1_col1{
height:200px;
width:500px;
margin-top:100px;
border:2px solid white;
margin-left:250px;
background-color:white;
}
.box2_col1{
height:300px;
width:1000px;
border:1px solid white;
}
.box2_col1_col{
height:300px;
width:495px;
border:2px solid;
display:inline-block;
color:white;
font-size:25px;
}
.box2_col2{
height:300px;
width:1000px;
border:1px solid white;
}
.box2_col1_col2{
height:300px;
width:491px;
border:3px solid;
display:inline-block;
color:white;
font-size:25px;
}
.button_red{
font-size:30px;
margin-top:250px;
margin-left:100px;
text-align:center;
background-color:red;
}
.button_blue{
font-size:30px;
margin-top:250px;
margin-left:100px;
text-align:center;
background-color:blue;
}
.button_yellow{
font-size:30px;
margin-top:250px;
margin-left:100px;
text-align:center;
background-color:yellow;
}
.button_green{
font-size:30px;
margin-top:250px;
margin-left:100px;
text-align:center;
background-color:green;
}
.red{
display:inline-block;
margin-left:250px;
color:red;
font-size:40px;
}
.blue{
display:inline-block;
margin-left:250px;
color:blue;
font-size:40px;
}
.yellow{
display:inline-block;
margin-left:250px;
color:yellow;
font-size:40px;
margin-bottom:-550px;
}

.green{
display:inline-block;
margin-left:189px;
color:green;
font-size:40px;
margin-bottom:-550px;
}

